@font-face {
  font-family : "GZA";
  src         : url(../media/fonts/gza-seminegra-webfont.ttf);
}

@font-face {
  font-family : "Relative";
  src         : url(../media/fonts/Relative-Book.ttf);
}

* {
  box-sizing : border-box;
}

body {
  background-color : #181818;
}

canvas {
  z-index   : -1;
  display   : block;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
}

a:link,
a:visited {
  text-decoration : none;
}

.section {
  color : white;
}

.nav {
  position    : relative;
  font-family : "Relative";
}

.sidelink {
  z-index   : 100;
  display   : none;
  position  : fixed;
  top       : 50%;
  transform : rotate(270deg);
}

.sidelink a:link,
.sidelink a:visited {
  color           : #868686;
  text-decoration : none;
  font-size       : 11px;
  font-weight     : bold;
  letter-spacing  : 3px;
  transition      : .5s;
}

.sidelink a:hover {
  color       : #fff;
  text-shadow : 0 0 7px rgba(255, 255, 255, .33);
}

.nav-left {
  left                     : 1%;
  -webkit-transform-origin : 50% 50%;
}

.nav-right {
  right                    : -2%;
  -webkit-transform-origin : 50% 55%;
}

.my-projects,
.title {
  z-index    : 100;
  position   : absolute;
  top        : 50%;
  left       : 50%;
  text-align : center;
  transform  : translate(-50%, -50%);
  cursor     : default;
}

.invert {
  color             : #181818;
  -moz-animation    : fade-in 1s ease-out both;
  -webkit-animation : fade-in 1s ease-out both;
  animation         : fade-in 1s ease-out both;
  transition        : all 1s ease;
}

.invert::before {
  z-index          : 0;
  content          : "";
  position         : absolute;
  top              : 50%;
  width            : 638px;
  height           : 638px;
  background-color : rgb(200,200,200);
  transform        : translate(-50%,-50%);
}

.invert::after {
  z-index   : 1;
  content   : "";
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 625px;
  height    : 625px;
  border    : 1px solid #181818;
  transform : translate(-50%,-50%);
}

.title h1 {
  margin            : 0;
  font-family       : "GZA";
  font-size         : 50px;
  line-height       : 55px;
  letter-spacing    : 3px;
  -moz-animation    : text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
  -webkit-animation : text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
  animation         : text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
}

.title span {
  -moz-animation    : tracking-in-expand 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
  -webkit-animation : tracking-in-expand 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
  animation         : tracking-in-expand 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
}

.my-projects a,
.title span {
  text-transform : uppercase;
  font-family    : "Relative";
  font-size      : 12px;
  letter-spacing : 10px;
}

.my-projects {
  top        : 66%;
  transition : .5s;
}

.my-projects a {
  display           : relative;
  display           : inline-block;
  color             : white;
  letter-spacing    : 3px;
  -moz-animation    : slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
  -webkit-animation : slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
  animation         : slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 17s both;
  transition        : .5s ease-in-out;
}

.my-projects a::before {
  z-index    : 100;
  content    : '';
  display    : block;
  position   : absolute;
  right      : 0;
  bottom     : -3px;
  width      : 0;
  height     : 1px;
  background : transparent;
  transition : width 1s ease,
               background-color .5s ease;
}

.my-projects a::after {
  z-index    : 100;
  content    : '';
  display    : block;
  position   : relative;
  top        : 5px;
  width      : 0;
  height     : 1px;
  background : transparent;
  transition : width 1s ease,
               background-color .5s ease;
}

.my-projects a:hover::after {
  width      : 100%;
  background : white;
}

.my-projects a:hover::before {
  width      : 100%;
  background : white;
}

.my-inverted a {
  color : #181818;
}

.my-inverted a:hover::after {
  background : #181818;
}

.my-inverted a:hover::before {
  background : #181818;
}

.social-media {
  z-index  : 1000000;
  display  : inline-block;
  position : absolute;
  right    : 0;
  height   : 50px;
  margin   : 25px 50px 0 auto;
}

.icon {
  display          : inline-block;
  position         : relative;
  width            : 35px;
  height           : 35px;
  border-radius    : 50%;
  background-color : rgb(60,60,60);
  transition       : .5s;
}

.icon:hover {
  background : white;
}

.icon:not(first-child) {
  margin-right : 20px;
}

#Capa_1 svg,
.icon svg {
  display   : inline-block;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 20px;
  height    : 20px;
  transform : translate(-50%, -50%);
}
